<% if logged_in? %>
<div class="col-md-8">
      <h3>Live Project and Contribution Feed</h3>
      <%= render 'shared/feed' %>
    </div>
</div>
<% else %>
<div class="center jumbotron">
  <h1>Welcome to 7Music</h1>

  <h2>
    This is the home page for 7Music music collab</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>