<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">

    <section class="user_info">
      <h1>
        <%= @user.name %>
        <p></p>
        <%= gravatar_for @user %>
      </h1>
      </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <%= render 'follow_form' if logged_in? %>
  </aside>
    <div class="col-md-8">
    <% if @user.projects.any? %>
      <h3>Projects (<%= @user.projects.count %>)</h3>
      <ol class="projects">
        <%= render @projects %>
      </ol>
      <%= will_paginate @projects %>
    <% end %>
  </div>