<li id="project-<%= project.id %>">
  <p <span class="user"><%= link_to project.user.name, project.user %></span></p>
  <p <span class="title"> <b>Project title</b> - <%= project.title %></span> </p>
  <p <span class="genre_tag"> <b> Genre </b> - <%= project.genre_tag %></span> </p>
  <p <span class="description"> <b> Project info </b> - <%= project.description %></span> </p>
  <%= image_tag project.picture.url if project.picture? %>
  <p></p>
  <span class="timestamp">
    <i> Posted <%= time_ago_in_words(project.created_at) %> ago. </i>
    <% if current_user?(project.user) %>
      <%= link_to "delete", project, method: :delete,
                                       data: { confirm: "Confirm that you wish to delete this project" } %>
    <% end %>
    <p></p>
  </span>
</li>
