<h2>Post a Project to 7music</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@project, html: { multipart: true }) %>

<% if project.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(project.errors.count, "error") %>.
    </div>
    <ul>
    <% project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
    
      <%= f.label :Project_title%>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :Project_Description%>
      <%= f.text_field :description, class: 'form-control' %>
      <p></p>
      <%= f.label :Genre_Tag%>
      <p></p>
      <%= f.select :genre_tag, options_for_select(%w[Techno House Tech-house Hip-Hop Funk Soul Acoustic])  %>
      <p></p>
      <p></p>
      <%= f.label :Second_Genre_Tag%>
      <p></p>
      <%= f.select :genre_tag2, options_for_select(%w[Techno House Tech-house Hip-Hop Funk Soul Acoustic])%>
      <p></p>
      <%= f.label :Project_picture %>
      <p></p>
       <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </span>
  <p></p>
      <%= f.submit "Create my project", class: "btn btn-primary" %>
<% end %>
</div>
</div>

<script type="text/javascript">
  $('#project_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>


